
body {
	min-width: 250px;
}

/* a subtle focus style for keyboard-input elements */
.text-input:focus {
  outline: 1px solid #aaa; /* Adjust to suit your tastes */
}

body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.main {
	position: relative;
	height: 500px;
}

.site-navbar {

}

/*.cover {
	display: block;
	position: absolute;
	height: 600px;
	padding-top: 210px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: red;
	background-image: url(../img/cover.png);
	z-index: -1;
}*/

.page-top-section {
  background-color: grey;
}

}
/*.text-white h2{
	z-index: 10;	
}*/

.contact-widget a:hover, .footer-widget .double-menu-widget ul a:hover {
	text-decoration: underline; 
}

.footer-widget .double-menu-widget ul a, .contact-widget a, .contact-widget p, .footer-widget p, .footer-widget .fw-title {
	/*color: #505052;*/
	color: #fff;
}

.footer-widget a:hover {
	text-decoration:underline;
}

.footer-section {
	padding: 20px;
}

.fa, .fas, .fab, .far, .svg-inline--fa {
	color: #007ee1 !important;
	margin-right: 5px;
}

footer { 
	border-top: 1px solid #324a4e;
	background-color: #163359;
	box-shadow: 0 50vh 0 50vh #163359;
	z-index: 10;
}

.feature-item .room-price {
	background-color: #708090;

}

.hero-text {
	position: absolute;
	padding-top: 1%;
	bottom: 0;
	height: auto;
	min-height: 96px;
	width: 100%;
	/*background-color: red;*/
	z-index: 5;
	clear: both;

}

.service-item svg {
	border-radius: 50%;
	font-size: 34px;
	float: left;
	margin-right: 5px;

}
/*.hero-text p{
	margin-bottom: none;
	padding-bottom: 100%;
	width: 100%;
	color: grey;
	background-image: url("../img/herobg.png");
}*/





iframe {
	z-index: -1;
}




/*------------------
	Contact page
--------------------*/

.contact-spad {
	padding-top: 0px;
	padding-bottom: 80px;
}

.contact-form label {
	font-size: 18px;
}

.contact-form input, textarea {
	background-color: #f2f2f2;
}

.contact-form input:focus, textarea:focus{
	background-color: #e6e6e6;
}

.contact-form .site-btn:hover {
	font-size: 15px;
	background-color: #008000;
	color: #f2f2f2;
}

.mapouter {
	position:relative;
	text-align:right;
	height:80%;
	max-height: 800px;
	width:100%;
	margin-top: 20px;
	margin-bottom: 50%;
	/*padding: 10%;*/
	padding-left: 0px;
	}

.gmap_canvas {
	overflow:hidden;
	background:none;
	height:100%;
	width:100%;
	border: solid .5px #007ee1;
	border-radius: 3px;
	z-index: 10;
}

.contact-info .service-item i {
	background-color: unset;
	text-align: center;
	font-size: 18px;
	float: left;
}

/*.contact-info .service-item:last-child {

}*/

.contact-details {

}

/*------------------
	Nav
--------------------*/
.main-menu li a {

	font-style: bold;

}

.main-menu a:hover {
	color: #007ee1 !important;
	text-decoration: underline; 
}


/*------------------
	About page
--------------------*/

/*.review-section {
	margin-top: 5%;
}*/

#details-link {
position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;

  background-image: url("../img/empty.gif");
}
.member-info h5 {
	color: #007ee1;
}

.member-info {
	z-index: 10;
}
.team-member {
	border: solid 1.5px lightgrey;
	z-index: 10;
}

.member-contact .fa {
margin-right: 5px;
}

/*.member-pic {
	z-index: 1;
	height: 245px;
}
.member-pic img {
	z-index: 0;
	height: 245px;
}*/

.about-text-left p, .about-text-right p {
	font-size: 16px; 
}